:root {
    font-size: 62.5%;

    --color-primary: #ffc9ea;
    --color-secondary: #ff5697;
    --color-font: #ffffffe6;

    --color-shadow: #d287d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

p, i, h1 {
    color: var(--color-font);
}

h1 {
    font-size: 250%;
    text-align: center;
}

i {
    font-size: 3.2rem;
}

/* --- CONTENT --- */
section {
    display: flexbox;
    align-items: start;
    height: 100%;
    justify-content: start;
}

#navButton {
    display: flex;
    font-size:30px;
    cursor:pointer;
    margin-left: 2%;
    color: var(--color-font);
    width: min-content;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-font);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--color-secondary);
}

.tab {
    float: left;
    width: 100%;
    height: 200px;
    background-color: transparent;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}
.tab button:hover {
    background-color: #ff00772c;
}

.tab button.active {
    background-color: var(--color-secondary);
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: 300px;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.panel p {
    opacity: 1;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

.panel p.active {
    color: var(--color-secondary);
    -webkit-box-shadow: 0px 10px 16px -10px var(--color-shadow); 
    box-shadow: 0px 10px 16px -10px var(--color-shadow);
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.control {
    margin-top: 3rem;
}

.control button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.control #reset {
    display: none;
}
