:root {
    --color-primary: #EAD2CDB2;
    --color-secondary: #ffffff;
    --color-font: #000000e6;

    --color-shadow: #d287d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: absolute;
    width: 983px;
    height: 570px;
    left: 230px;
    top: 162px;
    background-color: var(--color-primary);
}

section {
    height: 570px;
}

p, i, h1, h2{
    color: var(--color-font);
}

h1 {
    position: absolute;
    font-family: 'Raleway', 'san-serif';
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
}

h2 {
    position: absolute;
    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
}

i {
    font-size: 3.2rem;
    width: 22%;
}

/* ---CONTENT--- */
#final_timer {
    display: none;
}

#custom {
    width: 320px;
    height: 59px;
    left: 324px;
    top: 42px;
}

#work {
    width: 232px;
    height: 104px;
    left: 173px;
    top: 163px;
}

#break {
    width: 264px;
    height: 104px;
    left: 173px;
    top: 303px;
}

.custom_worktime {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 288px;
    height: 88px;
    left: 551px;
    top: 150px;

    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    text-align: center;
}

.custom_breaktime {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 288px;
    height: 88px;
    left: 551px;
    top: 295px;

    font-family: 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    text-align: center;
}

.custom_button {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.custom_button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    margin-left: 50%;
}

#work_button {
    left: 835px;
    top: 158px;
}

#break_button {
    left: 835px;
    top: 305px;
}

.finish_setup {
    position: absolute;
    width: 202px;
    height: 102px;
    left: 391px;
    bottom: 44px;

    background: var(--color-secondary);
    border-radius: 90px;

}

.finish_setup button {
    color: var(--color-font);
    position: absolute;
    background-color: transparent;
    border: none;
    left: 40px;
    top: 20px;

    cursor: pointer;

    font-family: 'Raleway', 'san-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-decoration-line: underline;
}

.nav button {
    position: absolute;
    width: 240px;
    height: 102px;
    left: 25px;
    top: 25px;

    background: var(--color-secondary);
    border-radius: 90px;
    border: none;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /* identical to box height */
    
    text-align: center;
    vertical-align: middle;
    text-decoration-line: underline;

    align-items: center;
    align-content: center;
    justify-content: center;
}

#final {
    width: 320px;
    height: 59px;
    left: 314px;
    top: 42px;
}

.circle {  
    box-sizing: border-box;
    position: absolute;
    width: 357px;
    height: 357px;
    left: 110px;
    top: 137px;
    border-radius: 50%;
    background-color: var(--color-primary);
    border: 15px solid #FFFFFF;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.time {
    position: absolute;
    width: 288px;
    height: 88px;
    top: 100px;
    left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
}

.panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 120px;
    left: 490px;
    top: 163px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.panel p {
    height: 25%;
    color: var(--color-secondary);
}

.panel p.active {
    height: 75%;
    color: var(--color-font);
    font-size: 100px;
    line-height: 90px;
}

.control button {
    position: absolute;
    width: 270px;
    height: 102px;
    left: 579px;
    top: 329px;

    background: var(--color-secondary);
    border-radius: 90px;
    border: none;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /* identical to box height */
    
    text-align: center;
    vertical-align: middle;
    text-decoration-line: underline;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.control #pause {
    display: none;
}

.control #resume {
    display: none;
}

.control #reset {
    top: 440px;
    display: none;
}

#back {
    display: none;
}

.auto_pomo button {
    position: absolute;
    width: 270px;
    height: auto;
    left: 360px;
    bottom: 20px;

    background: transparent;
    border: none;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    /* identical to box height */
    
    text-align: center;
    vertical-align: middle;
    text-decoration-line: underline;

    align-items: center;
    align-content: center;
    justify-content: center;
}
